:root {
--colour1 : #a1a1a1;
--colour2 : #3b3b3b;
--colour3 : #ececec;
--colour4 : #e0e0e0;
--colour5 : #dfd445;
}

#navbar a:link, #navbar a:visited { 
    text-decoration: none; 
    color:var(--colour2);
}

#navbar a:hover, #navbar a:active{
    background-color:var(--colour1);
    padding: 20px;
}


*{
    box-sizing: border-box;
    font-family:helvetica, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
       }

   body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--colour1);

}

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;        
        padding-top: 20px;
        width: 100%;
        background-color: var(--colour2);
         }

    header img{
            height: 150px;
            width: 150px;
            border-radius: 30%;
            border: dashed 5px var(--colour1);  
         }

         header img:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 5px 15px 10px rgba(82, 82, 82, 0.4);
        }
     
         h1{
             font-size: 40px;
             flex-wrap: wrap;
             /* padding-top: 30px; */
             text-align: center;
             color: var(--colour5);
             }

   nav{
        display: flex;
        width: 100%;
        flex: auto;
        /* flex-direction: row; */
        justify-content: space-evenly;
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         background-color: var(--colour4)
    } 

    nav ul{
        list-style-type: none; /*to remove bullets*/
        text-align: center;
        padding: 10px;
        overflow: hidden;
            }

    nav li{
        padding: 2px;
        width: 150px;
        display:inline-block;
        color: var(--colour5);
    }

   article{
            display: flex;
            flex-direction: row;
            width: 100%;
            /* flex-wrap: wrap; */
            flex: auto;
            align-items: center;
            font-size: 170%;
            /* justify-content: space-between; */
            background-color: var(--colour2);
            padding: 50px;
            margin: 60px;
            border-radius: 90px;
             }

    article p{
                /* padding-left: 40px; */
                color: var(--colour4);
             }

        h2{
            text-align: right;
            padding: 20px;
            border-right: dashed 2px var(--colour1);
            color: var(--colour4);
            margin-right: 40px;
        }

        #headshot {
            border-radius: 20%;
            margin-left: 20px;
            border: dashed 5px var(--colour1);
        }

        .portfolio img{
            border-radius: 20px;
            border: 3px dashed var(--colour1);
        }

        .main-project img{
            width: 100%;        
             justify-self: center;            
        }

        .other-projects img{
            flex-wrap: wrap;
            margin: 10px;  
            width: 22%;
           
                    }

        ,.other-projects{
            justify-content: center;
        }

        .portfolio{
            margin: 0 auto;
            align-self: center;
            }

            /* makes portfolio tiles glow on hover */
            .portfolio img:hover {
                color: rgba(255, 255, 255, 1);
                box-shadow: 0 5px 15px 10px rgba(82, 82, 82, 0.4);
            }

            #contact-me li{
                color: var(--colour3);            
                }

            #contact-me a:link, #contact-me a:visited, #contact-me a:hover, #contact-me a:active{ 
                    text-decoration: underline; 
                    color:var(--colour3);
                }
         
               .portfolio #overlay{
                /* display: none; */
                position: absolute;
                bottom: 0%;
                width: 100%;
                padding: 10px;
                background: rgba(255,255,255,.8);
              }

            /* Makes title appear on iamge on hover */
            .portfolio:hover #overlay {
                display: block;
              }

              footer{
            padding:20px;
            width: 100%;
            background-color: var(--colour2);
            color: var(--colour5);
            
              }

             
              @media (max-width: 768px) {
                .portfolio { grid-template-columns: repeat(1, 1fr); }
              }

              