
*{
    font-family:helvetica, Arial, Helvetica, sans-serif;
    margin:30px 30px 30px 30px ;
   }

body{
    background-color: rgb(247, 240, 240);
}

h1{
    font-size: 50px;
    }

header {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    max-height: 300px;
  
}

article{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 2 80px; 
}

.navbarlink{
    display: flex;
    display: inline-flex;
    flex: 1;
    font-size: 300%;
    }

#marker{
    margin-right: 20px;
    margin-left: 5px;
    font-size: 150px;
    
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    text-align: right;
    }



#headshot{
    border-radius: 40%;
    margin: 0 px 30px;
    border: solid 6px rgb(80, 79, 79);
}

p{
font-size: 250%;
}

#work .portfolio{
    display: flex;
    justify-content:space-between ;
    }

.main-project{
height: 40%;    /* margin: 0 auto; */
}

.main-project img{
    margin: 0 auto;
}

.portfolio .other-projects{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    }

.portfolio img{
    border: solid 10px rgb(80, 79, 79);
    border-radius: 5%;
    margin: 10px;  
    width: auto;
    height: 200px;
    }

.main-project img{
    width: auto;
    height: 500px;
}

.portfolio img:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px 10px rgba(82, 82, 82, 0.4);
}
    
  .main-project:hover .overlay {
    opacity: 1;
  }